@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

li:hover {
  cursor: pointer;
  text-decoration: underline;
}
